html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Fraunces, Arial;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: local("Montserrat"), url("./font/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: Fraunces;
  src: local("Fraunces")
    url("./font/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}
@font-face {
  font-family: Montserrat-Black;
  src: local("Montserrat Black"), url("./font/Montserrat-Black.ttf");
}

p {
  font-size: 0.9rem;
}

.attribution {
  font-size: 0.65rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(30, 38%, 92%);
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
}

.display-box {
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin: 10%;
  max-width: 600px;
  max-height: 50%;
}


@media only screen and (max-width: 650px) {
  .main-container {
  display: block;
  margin: 5% 5%;
  /* max-height: 100vh; */
  }
  .display-box {
    display: block;
    margin: auto;
    max-height: auto;
    margin : 0%;
  }
}

.half-section {
  width: 50%;
}

.image-container {
  overflow: hidden;
  display: flex;
  max-width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.resize-fit-center {
  min-width: 100%;
  width: auto;
}

.info-container {
  display: block;
  text-align: left;
  margin: 1.5em;
}
.top-title {
  font-size: 0.8rem;
  color: rgb(140, 140, 140);
  font-weight: bold;
  letter-spacing: 0.55em;
}

.center-title {
  font-size: 1.8rem;
  margin-top: 0.6em;
  font-family: Fraunces;
  font-weight: 900;
}

.description {
  margin-top: .9rem;
  color: rgb(140, 140, 140);
  line-height: 1.4em;
}

.price-container {
  margin-top: 1.6em;
  display: flex;
  align-items: center;
}

.current-price {
  font-weight: 900;
  font-family: Fraunces;
  font-size: 2.6rem;
  color: #3d8168;
  margin-right: .6em;
}
.previous-price {
  font-family: Fraunces;
  text-decoration: line-through;
  color: rgb(140, 140, 140);
  font-size: 1.8rem;
}

.button-wrapper {
  margin-top: 2em;
  padding: 0% 1.2em;
}

.add-to-cart-button {
  font-size: 1.2rem;
  display: block;
  width: 100%;
  background-color: #3d8168;
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 2rem;
}

.add-to-cart-button:hover {
  background-color: #336c57;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .main-container {
  display: block;
  margin: 5% 5%;
  min-height: 92vh;

  
  }
  .display-box {
    display: block;
    margin: auto;
    max-height: 100%;
    margin : 2%;
    max-width: auto;
  }

  .half-section {
    width: 100%;
  }

  .image-container {
    overflow: hidden;
    display: flex;
    
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .resize-fit-center {
    object-fit: cover;
    aspect-ratio: 1.8/1.4;
  }

  .info-container {
    margin: 0px;
    padding: 1.5em 1.5em;
  }
}